@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 50em;
  height: 300px;
  margin: 0;
  border-radius: 5px;
  background: #d1dde3;
}
